@media (min-width: 992px){
    #kt_wrapper.open{
        padding-left: 0;
        -webkit-transition: padding-left .5s ease;
        transition: padding-left .5s ease;
    }
    #kt_aside{
        left: 0;
        -webkit-transition: left .5s ease;
        transition: left .5s ease;
    }
    #kt_aside.close{
        left: -270px;
    }
}